/* Ajuste para tamaños pequeños */
@media only screen and (max-width: 720px) {
    main {
      flex-direction: column;
    }
  
    .message-container {
      width: 100%;
    }
  
    .message-encrypted-container {
      width: 100%;
    }
  
    .message {
      width: 100%;
    }
  
    .buttons-container {
      flex-direction: column;
      align-items: center;
    }
  
    .button-1, .button-2 {
      width: 60%;
      margin-bottom: 20px;
    }
  
    .recommendation-container {
      text-align: center;
    }
  }
  